/* https://fonts.google.com/specimen/Didact+Gothic */
/* DidactGothic-Regular */
@font-face {
  font-family: 'Fightura';
  src: url('font.ttf?DidactGothic') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  src: url('Exo2-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  src: url('Exo2-Italic-VariableFont_wght.ttf');
}

html {
  /* --font-family: 'Fightura'; */
  font-family: 'Exo 2';
  --fore: black;
  --back: white;
  --heart: rgb(234, 119, 248);
  --navHeight: 4rem;
}

@media (max-width: 1100px) {
  html {
    --navHeight: 8rem;
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--fore);
  background-color: var(--back);
}

h1, h2, h3 {
  text-align: center;
  text-decoration: underline;
}
