.header {
  text-align: center;
  max-width: 800px;
  font-size: 1.5em;
}

.social {
  font-size: 0.8em;
  margin: 1em 0;
}

@media (max-width: 600px) {
  .header {
    max-width: 100%;
    font-size: 1em;
  }
}
