.table {
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.tableHead {}
.tableHead > * > * {
  padding-left: 0;
}
.tableBody > *:nth-child(odd) {
  background: rgba(80, 80, 80, 0.2);
}
.tableBody > *:hover {
  color: black;
  background-color: var(--heart);
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cellDate,
.cellName,
.cellWinnerHead,
.cellWinnerBody,
.cellEntrantsHead,
.cellEntrantsBody,
.cellCategory,
.cellLinks,
.cellMobileInfo,
.cellMobileEntrantsInfo {
  /* border: 1px solid pink; */
  box-sizing: border-box;
  padding: 0.2em 1em;
  padding-right: 0;
  width: 8em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cellDate {
  width: 7em;
}
.cellName {
  width: 17em;
}
.cellWinnerHead {
  width: 6em;
}
.cellWinnerBody {
  width: 10em;
}
.cellEntrantsHead {
  width: 6.5em;
}
.cellEntrantsBody {
  width: 2.5em;
  justify-content: flex-end;
}
.cellCategory {
  width: 4em;
}
.cellLinks {
  width: 8em;
  justify-content: flex-start;
}
.cellLinks a {
  margin-right: 0.5em;
}
.cellMobileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  flex-grow: 1;
}
.cellMobileInfo > * {
  margin: 0.3em 0;
}
.cellMobileEntrantsInfo {
  width: auto;
  justify-content: flex-end;
  padding-right: 1em;
}

@media (max-width: 600px) {
  .table {
    font-size: 14px;
    width: 100%;
  }
  .tableHead {
    font-size: 20px;
  }
}
