.container {
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.filterSelect {
  --filterBorder: 0.15rem;
  --filterMargin: 0.4rem;
  margin: var(--filterMargin) 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterButton:first-child {
  margin-left: 0;
}
.filterButton {
  cursor: pointer;
  border-radius: 0.8rem;

  flex: 0.25;
  margin-left: calc(2 * var(--filterMargin));
  padding: 0.5em 0;
  border: var(--filterBorder) solid black;
}
.filterPast {
  /* .filterButton overrides */
  flex: 0.5;
  margin-left: 0;

  font-size: 0.8em;
  background-color: lightgrey;
  border-color: lightgrey;

  /* 0.55 extra padding = 0.15 for border + 0.8/2 for margin */
  padding-left: 0.55rem;
  padding-right: 0.55rem;
}
.filterButtonGap:first-child {
  margin-right: calc(2 * var(--filterMargin));
}
.filterButtonGap:last-child {
  margin-left: calc(2 * var(--filterMargin));
}
.filterButtonGap {
  visibility: hidden;
  flex: 0.25;
  padding: 0.5em 0;
  border: var(--filterBorder) solid black;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
