.container {
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.filterSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterButton:first-child {
  margin-left: 0;
}
.filterButton {
  flex: 1;
  margin: 0.3em 0;
  margin-left: 0.6em;

  cursor: pointer;
  border-radius: 1em;
  border: 0px solid black;

  /* override in js */
  padding: 0.5em;
  border-width: 0.2em;
}
.filterButtonGap {
  flex: 0.25;
  margin: 0.15em;
  padding: 0.5em;
  border-width: 0.2em;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
