.container {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 1rem 0 1rem 1rem;
  border: 0.5em solid black;

  /* image */
  position: relative;
  background: none;
  z-index: 2;

  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.container .title {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 0.5rem 0;
}
.container .start {
  font-size: 1.3em;
}
.container .time {
  text-align: right;
}

img.brand {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 3.5rem;
  z-index: 1;
}
