.container {
  margin: 1rem 0;
  border-radius: 1rem 0 1rem 1rem;
  border: 0.5em solid black;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container .brand {
  height: 12em;
}
.container .brand img {
  height: 100%;
  width: auto;
}

.container .info {
  padding: 0.5rem 1rem;
  width: 400px;

  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.container .title {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 0.5rem 0;
}
.container .start {
  font-size: 1.3em;
}
.container .time {
  text-align: right;
}
