.container {
  margin: 1em 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.container .brand {
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container .brand img {
  height: 6em;
  width: auto;
  border-radius: 1em;
}

.container .info {
  width: 400px;
  padding: 1em;
  border-radius: 1em;
  overflow: hidden;

  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.container .title {
  font-size: 1.5em;
  text-decoration: underline;
}
.container .description {
  margin: 0.5em 0;
}
.container .start {
  text-align: right;
  font-size: 1.3em;
}
.container .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
