.container {
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.filterSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filterButton:first-child {
  margin-left: 0;
}
.filterButton {
  flex: 1;
  margin: 0.3em;

  cursor: pointer;
  padding: 0.5em;
  box-sizing: border-box;

  border-radius: 1em;
  border: 0.2em solid black;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
