.container {
  background-color: #f2efe1;
  background-image: url('/lemon_pattern.png');
  background-position: center top;
  background-repeat: repeat;
  background-size: 14rem auto;
  min-height: 100vh;
}
