.container {}
.container.pattern {
  /* using flex forces child to only be as wide as necessary */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #f2efe1;
  background-image: url('/lemon_pattern.png');
  background-position: center top;
  background-repeat: repeat;
  background-size: 14rem auto;
}
.inner {
  background-color: white;
  padding: 0 4rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {}
.main {}

@media (max-width: 800px) {
  .inner {
    padding: 0;
  }
}
