.container {}
@media (min-width: 1101px) {
  .container {
    display: none;
  }
}

.nav {
  height: var(--navHeight);
  box-sizing: border-box;
  border-bottom: 1px solid var(--fore);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navLogo {
  text-align: center;
}
.navLogo img {
  cursor: pointer;
  height: auto;
  width: 80%;
  max-width: 30em;
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navLink {
  cursor: pointer;
  font-size: 1em;
  margin: 0.5em 1em;
}
.navAnchor {
  text-decoration: none;
}
