/* https://fonts.google.com/specimen/Didact+Gothic */
/* DidactGothic-Regular */
@font-face {
  font-family: 'Fightura';
  src: url('font.ttf?DidactGothic') format('truetype');
}

html {
  --font-family: 'Fightura';
  --heart: rgb(234, 119, 248);
}

body {
  font-family: var(--font-family);
  color: white;
  background-color: #222;
}

body a {
  color: var(--heart);
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
  text-decoration: underline;
}
