/* https://fonts.google.com/specimen/Didact+Gothic */
/* DidactGothic-Regular */
@font-face {
  font-family: 'DidactGothic';
  src: url('fonts/DidactGothic-Regular.ttf') format('truetype');
}

/* https://fonts.google.com/specimen/Didact+Gothic */
/* DidactGothic-Regular */
@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

html {
  /* --font-family: 'Fightura'; */
  font-family: Helvetica, Arial, sans-serif;
  --fore: black;
  --back: white;
  --heart: rgb(234, 119, 248);
  --navHeight: 4rem;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--fore);
  background-color: var(--back);
}

h1, h2, h3 {
  text-align: center;
  text-decoration: underline;
}
