.hero {
  position: relative;
  height: calc(100vh - var(--navHeight));
  width: 100%;
  background-color: black;

  overflow: hidden;
}

.content {
  z-index: 2;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;

  text-align: center;
  box-sizing: border-box;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pitch {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 0px 0.1em 0px black;

  min-height: calc((100vh - var(--navHeight)) / 3);
  padding: 1rem;
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  flex: 1;
  padding: 2rem;
  max-width: 50em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition-property: opacity transform;
  transition-delay: 0s;
}
.quoteSnippet {
  font-size: 2rem;
  font-style: italic;
}
.quoteAuthor {
  font-size: 1.5rem;
  margin-top: 1rem;
  align-self: flex-end;
}
.quoteAuthor a {
  color: white;
}

.video {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 120%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .hero {
    height: 20rem;
  }
  .content {
    font-size: 1rem;
  }
}
