.header {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navHeight);
  background: var(--back);
  border-bottom: 1px solid var(--fore);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  padding-top: 4rem;
}
.footer {
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid var(--fore);
  margin-top: 1rem;
  padding: 1em;
}

.nav {
  font-size: 1.4em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navRight > * {
  margin: 0 1em;
}
.navRight {
  flex-grow: 1;
  flex-basis: 0;
}
.navRight {
  justify-content: right;
}
.nav img {
  cursor: pointer;
  height: 3rem;
  width: auto;
  padding: 0 0.5em;
  border: 1px solid var(--back);
}
.nav img:hover {
  border: 1px solid black;
}
.nav a {
  color: var(--fore);
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
