.container {

}

.container .button {
  background-color: black;
  background-size: auto 60%;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 200%;
  box-sizing: border-box;

  color: white;
  background-color: black;

  width: 3em;
  height: 3em;
}
