.container {

}

.container .button {
  background-color: white;
  background-size: auto 60%;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 200%;
  box-sizing: border-box;

  color: black;
  background-color: white;

  width: 1em;
  height: 1em;
}

.button:hover {
  filter: invert(100%);
}
