.container {
  text-align: center;
}
.container section {
  margin: 0.8em;
}

img.team {
  max-width: 80%;
  width: 400px;
  height: auto;
}

.large {
  font-size: 1.6em;
}

.medium {
  font-size: 1.2em;
}
