.container {
  text-align: center;
}
.container section {
  margin: 0.8em;
}

img.team {
  max-width: 80%;
  width: 400px;
  height: auto;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.social > * {
  margin: 0 0.5em;
}

.large {
  font-size: 1.6em;
}

.medium {
  font-size: 1.2em;
}
